@import 'bar';
body {
    font-family: 'Noto Sans TC', sans-serif;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0px;
    padding: 0;
}

.button,
.container {
    position: relative;
}

#page1 {
    position: absolute;
    width: 100vw;
    height: 185px;
    left: 0px;
    top: 95px;
    #credit {
        img {
            position: absolute;
            left: 48px;
        }
        .shape {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 29px;
            height: 165px;
            border-top-left-radius: 21.5px;
            border-bottom-left-radius: 21.5px;
            background-color: rgb(224, 224, 224);
            box-shadow: 0px 2px 5px rgba( 158, 77, 100, 0.5);
        }
    }
}

#page2 {
    display: none;
    position: absolute;
    width: 100vw;
    left: 100%;
    top: 95px;
    height: 185px;
    #visa {
        img {
            position: absolute;
            left: 48px;
        }
        .shape {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 29px;
            height: 165px;
            border-top-right-radius: 21.5px;
            border-bottom-right-radius: 21.5px;
            background-color: rgb(224, 224, 224);
            box-shadow: 0px 2px 5px rgba( 158, 77, 100, 0.5);
        }
    }
}

.data {
    //position: absolute;
    //top: 316px;
    text-align: left;
    margin-left: 60px;
    margin-top: 316px;
    .total {
        font-size: 17px;
        font-weight: 600;
        .howmuch {
            padding-top: 10px;
            font-size: 15px;
            font-weight: 600;
        }
    }
    .cardno {
        padding-top: 23px;
        font-size: 14px;
        font-weight: 400;
        .box {
            display: flex;
            .input-border {
                position: relative;
                margin-top: 10px;
                margin-left: -9px;
                margin-right: 20px;
                width: 60px;
                height: 26px;
                border-radius: 21.5px;
                background: linear-gradient(90deg, rgb(255, 120, 171) 10%, rgb(255, 143, 94)90%);
                input {
                    position: absolute;
                    top: 1.5px;
                    left: 1.5px;
                    margin: auto;
                    z-index: 2;
                    border: 0;
                    border-radius: 21.5px;
                    width: 57px;
                    height: 22px;
                }
            }
        }
    }
    .carddate {
        padding-top: 23px;
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 5px;
        .box {
            display: flex;
            .input-border {
                position: relative;
                margin-top: 10px;
                margin-left: -9px;
                margin-right: 80px;
                width: 60px;
                height: 26px;
                border-radius: 21.5px;
                background: linear-gradient(90deg, rgb(255, 120, 171) 10%, rgb(255, 143, 94)90%);
                input {
                    position: absolute;
                    top: 1.5px;
                    left: 1.5px;
                    margin: auto;
                    z-index: 2;
                    border: 0;
                    border-radius: 21.5px;
                    width: 57px;
                    height: 22px;
                }
                p {
                    position: absolute;
                    top: 5px;
                    left: 65px;
                }
            }
        }
    }
}

.button-border {
    position: relative;
    margin: 0 auto;
    margin-top: 42px;
    text-align: center;
    line-height: 43px;
    font-size: 14px;
    font-weight: 400;
    width: 285px;
    height: 43px;
    color: white;
    border-radius: 21.5px;
    background: linear-gradient(90deg, rgb(255, 120, 171) 10%, rgb(255, 143, 94)90%);
    .button {
        position: absolute;
        top: 1.5px;
        left: 1.5px;
        z-index: 2;
        margin: auto;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        font-weight: 400;
        color: black;
        width: 282px;
        height: 40px;
        border-radius: 21.5px;
        background: white;
    }
}